apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
spec:
  type: LoadBalancer
  ports:
    - port: {{ .Values.service.externalPort }}
      targetPort: {{ .Values.service.containerPort }}
  selector:
    app: {{ .Release.Name }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP | quote }}
